<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Usuarios</title>
</head>
<body>
    <h1>Controle de Usuarios</h1>
    	<a href="/cadastroUsuario">Novo Usuário</a>
	    <table border="1px">
        <thead>
            <tr>
                <td>Nome</td>
                <td>Sobrenome</td>
                <td>Username</td>
                <td>Seção</td>
                <td>Ativo</td>
                <td>Ações</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario: ${listaUsuario}">
                <td th:text="${usuario.nome}"></td>
                <td th:text="${usuario.sobrenome}"></td>
                <td th:text="${usuario.username}"></td>
                <td th:if="${usuario.secao == 'ROLE_ADMINISTRADOR'}">Administrador</td>
                <td th:if="${usuario.secao == 'ROLE_GESTOR'}">Gestor</td>
                <td th:if="${usuario.secao == 'ROLE_DIGITADOR'}">Digitador</td>
                <td th:text="${usuario.ativo}"></td>
                <td><a th:href="@{/editarUsuario/{username}(username=${usuario.username})}">Editar</a>
                <a onclick="javascript:return confirm('Você tem certeza que quer excluir este usuário?')" 
                th:href="@{/excluirUsuario/{username}(username=${usuario.username})}">Excluir</a></td>
            </tr>
       	</tbody>
   		</table>
 </body>
 </html>