<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conta</title>
<body>
    <h1>Conta</h1>
    <div th:object="${conta}">
    	Arquivo: <a th:href="@{'/download/'+${conta.codi}}" download><span th:text="*{nome_fatura}"></span></a><br><br>
    	Nome: <span th:text="*{nome}"></span><br><br>
    	Codigo: <span th:text="*{codi}"></span><br><br>
    	Consumo da Conta: <span th:text="*{consumo}"></span><br><br>
    	Desconto da Conta: <span th:text="*{desconto}"></span><br><br>
    	Data de Criação: <span th:text="*{data_de_criacao}"></span><br><br>
    	Data de Lançamento: <span th:text="*{data_de_lancamento}"></span><br><br>
    	Data de Vencimento: <span th:text="*{data_de_vencimento}"></span><br><br>
    	Dias da Conta: <span th:text="*{dias}"></span><br><br>
    	Dados adicionais da Conta: <span th:text="*{dados_adicionais}"></span><br><br>
    	Valor da Conta: <span th:text="*{valor}"></span><br><br>
    	Valor Total da Conta: <span th:text="*{valor_total}"></span><br><br>
    	Base de Cálculo da Conta: <span th:text="*{base_calculo}"></span><br><br>
		Tipo de Conta: <span th:text="*{tipo_conta}"></span><br><br>
    	Contrato: <span th:text="*{contrato}"></span><br><br>
    </div>
</body>
</html>