<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Funcionários</title>
<body>
    <h1>Unidade</h1>
    <div th:object="${unidade}">
    	CNPJ: <span th:text="*{cnpj}"></span><br><br>
    	Nome: <span th:text="*{nome}"></span><br><br>
    	Telefone: <span th:text="*{telefone}"></span><br><br>
    </div>
    <div th:object="${endereco}">
    	CEP: <span th:text="*{cep}"></span><br><br>
    	Estado: <span th:text="*{estado}"></span><br><br>
    	Município: <span th:text="*{municipio}"></span><br><br>
		Bairro: <span th:text="*{bairro}"></span><br><br>
    	Rua: <span th:text="*{rua}"></span><br><br>
    	Número: <span th:text="*{numero}"></span><br><br>
    	Complemento: <span th:text="*{complemento}"></span><br><br>
    </div>
</body>
</html>