<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Concessionaria</title>
</head>
<body>
    <h1>Tabelas</h1>
	<h2>Concessionarias</h2>
	    <table border="1px">
        <thead>
            <tr>
                <td>Nome</td>
                <td>Código</td>
                <td>Ações</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="concessionaria : ${listaConcessionaria}">
                <td th:text="${concessionaria.codigo}"></td>
                <td th:text="${concessionaria.nome}"></td>
                <td><a th:href="@{/concessionaria/{codigo}(codigo=${concessionaria.codigo})}">Abrir
				<a href="#">Editar</a>
                <a href="#">Excluir</a></td>  
            </tr>
       	</tbody>
    </table>
    	<h2>Unidades</h2>
	    <table border="1px">
        <thead>
            <tr>
            	<td>CNPJ</td>
                <td>Nome</td>
                <td>Telefone</td>
				<td>CEP do Endereço</td>
				<td>Ações</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="unidade : ${listaUnidade}">
                <td th:text="${unidade.cnpj}"></td>
                <td th:text="${unidade.nome}"></td>
                <td th:text="${unidade.telefone}"></td>
                <td th:text="${unidade.endereco}"></td>
                <td><a th:href="@{/unidade/{cnpj}/{endereco}(cnpj = ${unidade.cnpj}, endereco = ${unidade.endereco})}">Abrir</a>
	            <a href="#">Editar</a>
                <a href="#">Excluir</a></td>
	         </tr>
       	</tbody>
       	</table>
       	<h2>Endereços</h2>
	    <table border="1px">
        <thead>
            <tr>
       			<td>CEP</td>
                <td>Estado</td>
                <td>Município</td>
                <td>Bairro</td>
                <td>Rua</td>
                <td>Número</td>
                <td>Complemento</td>
                <td>Ações</td>
       		</tr>
       	</thead>
       	<tbody>
       		<tr th:each="endereco: ${listaEndereco}">
       	        <td th:text="${endereco.cep}"></td>
                <td th:text="${endereco.estado}"></td>
                <td th:text="${endereco.municipio}"></td>
                <td th:text="${endereco.bairro}"></td>
                <td th:text="${endereco.rua}"></td>
                <td th:text="${endereco.numero}"></td>
                <td th:text="${endereco.complemento}"></td>
				<td><a href="#">Editar</a>
                <a href="#">Excluir</a></td>
            </tr>
         </tbody>
         </table>
		<h2>Conta</h2>
		<table border="1px">
        <thead>
    		<tr>
		       	<td>Código</td>
	            <td>Nome</td>
	            <td>Consumo</td>
	            <td>Desconto</td>
	            <td>Data de Criação</td>
	            <td>Data de Lançamento</td>
	            <td>Data de Vencimento</td>
	            <td>Dias</td>
				<td>Dados Adicionais</td>
				<td>Valor</td>
				<td>Valor Total</td>
				<td>Base de Cálculo</td>
				<td>Tipo de Conta</td>
				<td>Contrato</td>
				<td>Ações</td>
       	    </tr>
       	</thead>
		<tbody>
   			<tr th:each="conta: ${listaConta}">
	 			<td th:text="${conta.codi}"></td>
     			<td th:text="${conta.nome}"></td>
             	<td th:text="${conta.consumo}"></td>
             	<td th:text="${conta.desconto}"></td>
             	<td th:text="${conta.data_de_criacao}"></td>
             	<td th:text="${conta.data_de_lancamento}"></td>
             	<td th:text="${conta.data_de_vencimento}"></td>
             	<td th:text="${conta.dias}"></td>
             	<td th:text="${conta.dados_adicionais}"></td>
             	<td th:text="${conta.valor}"></td>
        	 	<td th:text="${conta.valor_total}"></td>
             	<td th:text="${conta.base_calculo}"></td>
             	<td th:text="${conta.tipo_conta}"></td>
             	<td th:text="${conta.contrato}"></td>
             	<td><a th:href="@{/conta/{codi}(codi=${conta.codi})}">Abrir
			 	<a href="#">Editar</a>
             	<a href="#">Excluir</a></td>
     		</tr>
		</tbody>
	</table>
</body>
</html>