<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Concessionaria</title>
</head>
<body>
    <h1>Cadastro de Unidade</h1>
    <form th:action="@{/salvarUnidade}" method="POST">
    	<div th:object="${unidade}">
	    	Nome:<input type="text" th:field="*{nome}"><br><br>
			CNPJ: <input type="text" th:field="*{cnpj}"><br><br>
	    	Telefone<input type="text" th:field="*{telefone}"><br><br>
	    </div>
	    <div th:object="${endereco}">
	        CEP: <input type="text" th:field="*{cep}"><br><br>
	        Estado: <input type="text" th:field="*{estado}"><br><br>
	        Município <input type="text" th:field="*{municipio}"><br><br>
	        Bairro: <input type="text" th:field="*{bairro}"><br><br>
	        Rua: <input type="text" name="rua" id="rua" th:field="*{rua}"><br><br>
	        Número: <input type="text" th:field="*{numero}"><br><br>
	        Complemento: <input type="text" th:field="*{complemento}"><br><br>
	     </div>
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>