<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuario</title>
</head>
<body>
    <h1>Cadastro de Usuario</h1>
    <form th:action="@{/salvarUsuario}" th:object="${usuario}" method="POST">
    	Nome do Usuário: <input type="text" name="nome" id="nome" th:field="*{nome}"><br><br>
		Sobrenome do Usuário: <input type="text" name="sobrenome" id="sobrenome" th:field="*{sobrenome}"><br><br>
		Username do Usuário: <input type="text" name="username" id="username" th:field="*{username}"><br><br>
		Senha do Usuário: <input type="password" name="senha" id="senha" th:field="*{senha}">
		<div id="secao">Seção:
	        <br>
	        <input type="radio" id="administrador" name="usuario" value="ROLE_ADMINISTRADOR" th:field="*{secao}">
	        <label for="administrador">Adiministrador</label>
	
	        <input type="radio" id="gestor" name="usuario" value="ROLE_GESTOR" th:field="*{secao}">
	        <label for="gestor">Gestor</label>
	
	        <input type="radio" id="digitador" name="usuario" value="ROLE_DIGITADOR" th:field="*{secao}">
	        <label for="digitador">Digitador</label>
        </div>
        <input type="hidden" name="ativo" id="ativo" th:field="*{ativo}">
		<input type="submit" value="Cadastrar">
    </form>
</body>
</html>